body {
	font-family: "Cuprum", "PT Sans", "Arial", sans-serif;
	background-color: #fff;
	margin: 0px;
	padding: 0px;
	width: 1200px;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
.upper-menu, .links {
	background-color: #293449;
}
.main-info {
	background-color: #f2f6f8;
	height: 278px;
}
.main-menu, .down-menu {
	background-color: #32425c;
}
.upper-menu a, .main-menu a, .down-menu a {
	color: white;
}
.down-menu p, .links p, .tab-article {
	color: white;
}
.upper-logo, .down-logo {
	display: block;
	background: #ee3643;
	text-align: center;
	box-shadow: 0px 4px 0px 0px #b72f38; 
}
.upper-logo {
	width: 220px;
	height: 43px;
	margin-left: 130px;
}
.upper-technomart {
	width: 110px;
	height: 20px;
	position: relative;
	top: 12px;
}
.down-logo {
	width: 220px;
	height: 65px;
	margin-left: 130px;
}
.down-technomart {
	width: 138px;
	height: 24px;
	position: relative;
	top: 24px;
}
.menu-pages-mat a, .tab-links a {
	color: #ffd996;
}
.main-action {
	font-size: 17px;
	font-family: "Cuprum", "Arial";
	line-height: 18px;
}
.main-describe {
	font-family: "Cuprum", "Arial";
	font-style: italic;
	font-size: 16px;
	line-height: 23px;
	color: #ee3643;
	display: flex;
	margin-left: 130px;
	margin-top: 50px;
}
.tel {
	font-family: "Cuprum", "Arial";
	font-size: 21px;
	line-height: 21px;
	color: #ee3643;
	display: inline-block;
	border: 3px solid #ffffff;
	padding: 11px 50px 11px 72px;
}
.main-info p {
	font-size: 14px;
	font-family: "Cuprum", "Arial";
	color: #32425c;
	line-height: 24px;
}
.enter, .reg {
	font-family: "Cuprum", "Arial";
	font-size: 21px;
	line-height: 21px;
	color: black;
}
.reg {
	display: inline-block;
	background-color: #fff;
	width: 170px;
	height: 33px;
	padding-top: 12px;
	text-align: center;
}
.enter {
	background-color: #fff;
	border: none;
	height: 45px;
	width: 126px;
	margin-right: 10px;
}
.main-menu a {
	font-family: "Cuprum", "Arial";
	font-size: 17px;
	line-height: 17px;
}
.orders-cab a {
	font-family: "Cuprum", "Arial";
	font-size: 16px;
	line-height: 18px;
	color: #32425c;
	text-decoration: underline;
}
.navigation a {
	font-family: "PT Sans", "Arial";
	font-size: 13px;
	line-height: 18px;
	color: #000;
}
.add-info h3 {
	font-family: "Cuprum", "Arial";
	font-size: 30px;
	color: #000;
	line-height: 1;
}
.add-info .add-info-text {
	font-family: "PT Sans", "Arial";
	font-size: 13px;
	color: #000;
	line-height: 1.5;
}
.name {
	font-family: "Cuprum", "Arial";
	font-size: 18px;
	color: #000;
	line-height: 2;
}
.about-us {
	background-color: #ee3643;
	width: 220px;
	height: 29px;
	color: #fff;
	text-align: center;
	padding-top: 9px;
	border-radius: 3px;
}
.write-to-us {
	background-color: #ee3643;
	width: 300px;
	height: 29px;
	color: #fff;
	margin-top: 40px;
	text-align: center;
	padding-top: 9px;
	border-radius: 3px;
}
.down-menu p {
	font-family: "Cuprum", "Arial";
	font-size: 18px;
}
.menu-pages, .menu-pages-mat {
	font-family: "Cuprum", "Arial";
	font-size: 18px;
}
.links p, .tab-article, .tab-links {
	font-family: "Cuprum", "Arial";
	font-size: 16px;
	line-height: 18px;
}
.visually-hidden {
	display: none;
}
.sub-menu h3 {
	font-family: "Cuprum", "Arial";
	font-size: 30px;
	line-height: 30px;
}
.sub-menu h4 {
	font-family: "PT Sans", "Arial";
	font-size: 17px;
	line-height: 30px;
	font-weight: bold;
}
.sub-menu ul li {
	font-family: "PT Sans", "Arial";
	font-size: 15px;
	line-height: 20px;
	font-weight: normal;
}
.sub-menu button {
	font-family: "PT Sans", "Arial";
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
}
.product-name {
	font-family: "PT Sans", "Arial";
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
}
.old-value, .new-value, .main-value {
	font-family: "PT Sans", "Arial";
	font-size: 17px;
	line-height: 18px;
	font-weight: bold;
}
.old-value {
	text-decoration: line-through;
	color: #999999;
}
.buy, .bookmarks {
	font-family: "Cuprum", "Arial";
	font-size: 14px;
	line-height: 18px;
}
.upper-menu {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 44px;
}
.search {
	margin-left: 15px;
}
.find-text {
	margin-left: 30px;
	position: relative;
	bottom: 10px;
}
.glass {
	width: 18px;
	height: 18px;
	position: relative;
	top: 13px;
}
.zakladka {
	display: inline;
	width: 17px;
	height: 17px;
	margin-right: 15px;
	position: relative;
	top: 3px;
}
.korzina {
	width: 17px;
	height: 17px;
	margin-right: 15px;
	position: relative;
	top: 3px;
}
.order {
	width: 138px;
	background-color: #63a63e;
	display: block;
	height: 18px;
	text-align: center;
	position: relative;
	padding-top: 13px;
	padding-bottom: 13px;
	margin-right: 130px;
	padding-right: 19px;
	padding-left: 19px;
}

.book {
	width: 150px;
	display: block;
	height: 21px;
	text-align: center;
	position: relative;
	padding-top: 10px;
	padding-bottom: 13px;
	padding-right: 19px;
	padding-left: 19px;
}
.korz {
	width: 135px;
	display: block;
	height: 21px;
	text-align: center;
	position: relative;
	padding-top: 10px;
	padding-bottom: 13px;
	padding-right: 19px;
	padding-left: 19px;
}
.description {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 278px;
}
.main-describe {
	display: inline-block;
}
.call-adress {
	flex-direction: column;
	display: flex;
	margin-right: 70px;
	align-items: center;
}
.main-menu {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 60px;
	width: 940px;
}
.main-menu ul {
	display: flex;
	flex-direction: row;
	margin-left: -40px;
	padding-top: 20px;
}
.main-menu ul li {
	margin: auto;
}
.right-fl {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-top: -80px;
	margin-right: 130px;
}
.telefon {
	margin-right: 40px;
	margin-left: -60px;
}
.voiti {
	margin-right: 15px;
}
.main-width {
	margin-right: 130px;
	margin-left: 130px;
}
.call-adress p {
	margin-top: 5px;
	margin-bottom: 20px;
}
.footer-width {
	margin-left: 130px;
	margin-right: 130px;
}
.tehn-flex {
	display: flex;
	flex-direction: column;
	height: auto;
}

.cont-flex {
	display: flex;
	flex-direction: column;
	position: relative;
	left: 640px;
	bottom: 395px;
	width: 300px;
}
.down-menu {
	position: relative;
	bottom: 309px;
	display: flex;
	width: 1200px;
	position: relative;
	right: 130px;
	justify-content: flex-start;
	height: 193px;
}
.down-flex p {
	margin-left: 130px;
	margin-top: 30px;
	width: 350px;
	margin-right: -150px;
	line-height: 25px;
}
.menu-pages {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 1190px;
	position: relative;
	left: 125px;
	height: 20px;
	
}
.menu-pages-mat {
	display: flex;
	position: relative;
	top: 75px;
	right: 310px;
	width: 1100px;
	justify-content: space-between;
	flex-direction: row;
	margin-right: -300px;
	right: 428px
}
.links {
	width: 1200px;
	margin-left: -130px;
	position: relative;
	bottom: 324px;
	display: flex;
	height: 108px;
}
.tab-article {
	display: flex;
	flex-direction: row;
	position: relative;
	left: 320px;
	width: 290px;
	justify-content: space-between;
	top: 33px;
}
.tab-links {
	display: flex;
	flex-direction: row;
	position: relative;
	left: 320px;
	width: 290px;
	justify-content: space-between;
	top: 33px;
}
.ic-flx {
	display: flex;
	justify-content: space-between;
	width: 114px;
	position: relative;
	left: 170px;
	top: 43px;
}
.links p {
	margin-left: 130px;
	margin-top: 33px;
}