body {
	font-family: "Cuprum", "PT Sans", "Arial", sans-serif;
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	padding: 0px;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
.upper-menu, .links {
	background-color: #293449;
}
.main-info {
	background-color: #f2f6f8;
	padding-bottom: 60px;
	min-width: 960px;
}
.main-menu, .down-menu {
	background-color: #32425c;
}
.upper-menu a, .main-menu a, .down-menu a {
	color: white;
}
.down-menu p, .links p, .tab-article {
	color: white;
}
.upper-logo, .down-logo {
	display: inline-block;
	background: #ee3643;
	box-shadow: 0px 4px 0px 0px #b72f38;
}
.upper-logo {
	width: 220px;
	height: 46px;
	box-sizing: border-box;
	padding-top: 13px;
	text-align: center;
}
.upper-technomart {
	width: 110px;
	height: 20px;
}
.down-logo {
	width: 220px;
	height: 66px;
	box-sizing: border-box;
	text-align: center;
	padding-top: 21px;
}
.down-technomart {
	width: 138px;
	height: 24px;
}
.menu-pages-mat a, .tab-links a {
	color: #ffd996;
}
.main-action {
	font-size: 17px;
	font-family: "Cuprum", "Arial";
	line-height: 18px;
}
.main-describe {
	font-family: "Cuprum", "Arial";
	font-style: italic;
	font-size: 16px;
	line-height: 23px;
	color: #ee3643;
	display: flex;
	flex-direction: column;
	width: 208px;
	height: 64px;
	align-self: center;
	justify-content: center;
	margin-left: 52px;
}
.tel {
	font-family: "Cuprum", "Arial";
	font-size: 21px;
	line-height: 21px;
	color: #ee3643;
	display: inline-block;
	border: 3px solid #ffffff;
	padding: 10px 40px 10px 10px;
	width: 214px;
}
.main-info p {
	font-size: 14px;
	font-family: "Cuprum", "Arial";
	color: #32425c;
	line-height: 24px;
}
.enter, .reg {
	font-family: "Cuprum", "Arial";
	font-size: 21px;
	line-height: 21px;
	color: black;
}
.reg {
	display: flex;
	flex-direction: row;
	background-color: #fff;
	width: 150px;
	height: 45px;
	align-items: center;
	justify-content: center;
}
.enter {
	background-color: #fff;
	height: 45px;
	width: 126px;
	margin-right: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.main-menu a {
	font-family: "Cuprum", "Arial";
	font-size: 17px;
	line-height: 17px;
}
.orders-cab a {
	font-family: "Cuprum", "Arial";
	font-size: 16px;
	line-height: 18px;
	color: #32425c;
	text-decoration: underline;
}
.navigation a {
	font-family: "PT Sans", "Arial";
	font-size: 13px;
	line-height: 18px;
	color: #000;
}
.add-info h3 {
	font-family: "Cuprum", "Arial";
	font-size: 30px;
	color: #000;
	line-height: 0;
	text-transform: uppercase;
}
.name {
	font-family: "Cuprum", "Arial";
	font-size: 18px;
	color: #000;
	line-height: 2;
}
.about-us {
	background-color: #ee3643;
	width: 220px;
	height: 29px;
	color: #fff;
	text-align: center;
	padding-top: 9px;
	border-radius: 3px;
	margin-top: 30px;
}
.write-to-us {
	background-color: #ee3643;
	width: 300px;
	height: 29px;
	color: #fff;
	margin-top: 40px;
	text-align: center;
	padding-top: 9px;
	border-radius: 3px;
}
.down-menu p {
	font-family: "Cuprum", "Arial";
	font-size: 18px;
}
.menu-pages, .menu-pages-mat {
	font-family: "Cuprum", "Arial";
	font-size: 18px;
}
.links p, .tab-article, .tab-links {
	font-family: "Cuprum", "Arial";
	font-size: 16px;
	line-height: 18px;
}
.visually-hidden {
	display: none;
}
.sub-menu h3 {
	font-family: "Cuprum", "Arial";
	font-size: 30px;
	line-height: 30px;
}
.sub-menu h4 {
	font-family: "PT Sans", "Arial";
	font-size: 17px;
	line-height: 30px;
	font-weight: bold;
}
.sub-menu ul li {
	font-family: "PT Sans", "Arial";
	font-size: 15px;
	line-height: 20px;
	font-weight: normal;
}
.sub-menu button {
	font-family: "PT Sans", "Arial";
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
}
.product-name {
	font-family: "PT Sans", "Arial";
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
}
.old-value, .new-value, .main-value {
	font-family: "PT Sans", "Arial";
	font-size: 17px;
	line-height: 18px;
	font-weight: bold;
}
.old-value {
	text-decoration: line-through;
	color: #999999;
}
.buy, .bookmarks {
	font-family: "Cuprum", "Arial";
	font-size: 14px;
	line-height: 18px;
}
.upper-menu {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: center;
}
.search {
	padding-left: 16px;
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 44px;
	justify-content: center;
	align-self: center;
}
.find-text {
	margin-left: 16px;
	height: 42px;
	background-color: #293449;
	border: none;
	width: 200px;
}
.find-text::-webkit-input-placeholder {
	color: #fff;
}
.glass {
	width: 18px;
	height: 18px;
}
.bookmark-pic {
	width: 17px;
	height: 17px;
	margin-right: 15px;
	fill: #6a7180;
}
.bookmark-pic:hover {
	fill: #fff;
}
.bbokmark-pic:active {
	fill: #8b8e94;
}
.cart-pic {
	width: 17px;
	height: 17px;
	margin-right: 15px;
	top: 3px;
	fill: #6a7180;
}
.cart-pic:hover {
	fill: #fff;
}
.cart-pic:active {
	fill: #8b8e94;
}
.order {
	width: 148px;
	background-color: #63a63e;
	height: 46px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	align-self: center;
}
.book {
	width: 160px;
	height: 46px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	align-self: center;
}
.cart {
	width: 160px;
	height: 46px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	align-self: center;
}
.call-adress {
	flex-direction: column;
	display: flex;
	align-items: center;
	height: 75px;
	margin-left: 18px;
	align-self: flex-start;
	margin-right: 106px;
}
.main-menu {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 30px;
	box-shadow: 0px 4px 0px 0px #293449;
}
.main-menu a {
	height: 58px;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: inherit;
	justify-content: center;
}
.second-menu {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: baseline;
	padding-top: 46px;
	margin-right: auto;
	margin-left: auto;
	width: 940px;
}
.telefon {
	margin-right: 38px;
	fill: #b7bfc8;
	vertical-align: middle;
}
.enter-pic {
	margin-right: 15px;
	fill: #c5c5c5;
}
.enter-pic:hover {
	fill: #32425c;
}
.enter-pic:active {
	fill: #c5c5c5;
}
.call-adress p {
	margin-top: 6px;
	margin-bottom: 20px;
}
.company-descrip {
	display: flex;
	flex-direction: column;
}
.contact-descrip {
	display: flex;
	flex-direction: column;
}
.tab-article {
	display: flex;
	flex-direction: row;
	width: 290px;
	justify-content: space-between;
}
.tab-links {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	top: 33px;
}
.social-networks {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 108px;
}
.main-width {
	width: 940px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}
.add-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 86px;
	padding-top: 60px;
}
.tech-upper {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: center;
}
.menu-pages {
	display: flex;
	flex-direction: row;
	width: 720px;
	margin-left: 0px;
	align-items: center;
	padding-top: 15px;
	justify-content: flex-end;
}
.menu-pages-mat {
	display: flex;
	flex-direction: row;
	width: 540px;
	margin-left: 0px;
	align-items: center;
	padding-top: 18px;
	justify-content: space-between;
	margin-left: 80px;
}
.tech-down {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: center;
}
.down-adress {
	display: flex;
	flex-direction: row;
	justify-content: start;
}
.down-info {
	display: flex;
	flex-direction: row;
	width: 940px;
	justify-content: space-between;
	align-items: center;
}
.sign {
	height: 108px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.cont-table {
	height: 108px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.ic-background {
	display: flex;
	background-color: #212a3a;
	width: 40px;
	height: 40px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	box-sizing: border-box;
	padding-top: 5px;
}
.delivery {
	padding-left: 0px;
}
.cart-catalog {
	width: 160px;
	height: 46px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	align-self: center;
	background-color: #ee3643;
}
.user-info {
	display: flex;
	flex-direction: column;
}
.orders-cab {
	display: flex;
	flex-direction: row;
	margin-left: 16px;
	margin-top: 10px;
	justify-content: space-between;
	margin-right: 72px;
}
.profile {
	display: flex;
	flex-direction: row;
	background-color: #fff;
	width: 270px;
	height: 45px;
	align-items: center;
	justify-content: center;
	color: black;
	font-family: "Cuprum", "Arial";
	font-size: 21px;
	line-height: 21px;
}
.call-adress-cat {
	flex-direction: column;
	display: flex;
	align-items: center;
	height: 75px;
	margin-left: 20px;
	align-self: flex-start;
	margin-right: 90px;
}
.profile-icon {
	margin-right: 14px;
	fill: #c5c5c5;
}
.profile-icon:hover {
	fill: #32425c;
}
.profile-icon:active {
	fill: #c5c5c5;
}
.prof-logout {
	background-color: #fff;
	height: 45px;
	width: 30px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.prof-but {
	display: flex;
	flex-direction: row;
}
.dot {
	background-color: #32425c;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	margin-top: 6px;
}
.navigation {
	display: flex;
	flex-direction: row;
	width: 940px;
	justify-content: flex-start;
	align-items: center;
}
.navigation a {
	display: flex;
	flex-direction: row;
	margin-right: 16px;
	height: 60px;
	align-items: center;
	text-transform: uppercase;
}
.navigation img {
	margin-right: 16px;
	height: 12px;
}
.call-adress-cat p {
	margin-top: 6px;
}
.perf {
	display: flex;
	flex-direction: row;
	width: 940px;
	background-color: #f2f6f8;
	text-transform: uppercase;
	color: #32425c;
	font-size: 30px;
	box-sizing: border-box;
	padding-left: 32px;
}
.goods-flex-cat {
	display: flex;
	flex-direction: row;
}
.make-a-choise {
	display: flex;
	flex-direction: column;
	width: 220px;
	text-transform: uppercase;
}
.make-a-choise ul {
	padding-left: 0px;
	margin-top: 0px;
}
.make-a-choise h4 {
	margin-bottom: 22px;
}
.list-of-goods {
	margin-left: 20px;
	width: 700px;
}
.items {
	display: flex;
	flex-direction: row;
	width: 700px;
	flex-wrap: wrap;
	padding-left: 0px;
	justify-content: space-between;
}
.items li {
	border: 1px solid #e5e5e5;
	margin-bottom: 20px;
}
.dash {
	width: 24px;
	height: 3px;
	background-color: #ee3643;
	margin-right: 10px;
}
.dash-flex {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.menu-pages a {
	margin-left: 70px;
}
.checkbox-cast {}
.radio-cast {}
.descrip-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 160px;
	padding-bottom: 2px;
}
.item-flex {
	display: flex;
	flex-direction: column;
	width: 220px;
	height: 318px;
}
.new-value {
	width: 141px;
	height: 38px;
	background-image: url("../img/btn copy 14.svg");
	box-sizing: border-box;
	color: #fff;
	padding-top: 10px;
}
.new-value {
	display: flex;
	justify-content: center;
	margin-top: 0px;
}
.old-value {
	display: flex;
	justify-content: center;
	margin-top: 0px;
}
.product-name {
	display: flex;
	justify-content: center;
	margin-top: 0px;
}
.buy {
	display: flex;
	flex-direction: row;
	width: 135px;
	height: 33px;
	justify-content: flex-start;
	align-items: center;
	margin-top: 43px;
	margin-bottom: 8px;
	border-bottom: 2px solid #367315;
	background-color: #63a63e;
	color: #fff;
}
.bookmarks {
	display: flex;
	flex-direction: row;
	width: 131px;
	height: 31px;
	justify-content: center;
	align-items: center;
	border: 2px solid #63a63e;
	color: #32425c;
	margin-bottom: 50px;
}
.cart-cat {
	margin-right: 20px;
	margin-left: 15px;
}
.new-value-rows {
	width: 141px;
	height: 38px;
	background-image: url("../img/btn copy 14.svg");
	box-sizing: border-box;
	padding-top: 10px;
	color: #fff;
	display: flex;
	justify-content: center;
	margin-top: 33px;
	font-family: "PT Sans", "Arial";
	font-size: 17px;
	line-height: 18px;
	font-weight: bold;
}
.flag {
	position: absolute;
	margin-left: 161px;
}
.show {
	width: 147px;
	height: 38px;
	text-transform: uppercase;
}
.add-info-text {
	font-family: "PT Sans", "Arial";
	font-size: 13px;
	color: #000;
	line-height: 1.5;
	display: flex;
	flex-direction: row;
	width: 517px;
}
.add-info-text-deliv {
	font-family: "PT Sans", "Arial";
	font-size: 13px;
	color: #000;
	line-height: 1.5;
	display: flex;
	flex-direction: row;
	width: 390px;
}
.add-info-text-map {
	font-family: "PT Sans", "Arial";
	font-size: 13px;
	color: #000;
	line-height: 1.5;
	display: flex;
	flex-direction: row;
	width: 185px;
}
.enter-reg {
	display: flex;
	flex-direction: row;
}
.first-width {
	width: 940px;
	display: flex;
}
.upper-logo:hover {
	background-color: #ca2c37;
	box-shadow: 0px 4px 0px 0px #9a212a;
}
.upper-logo:active {
	background-color: #ba2732;
	box-shadow: 0px 4px 0px 0px #8e1e26;
}
.search:hover {
	background-color: #212a3a;
}
.find-text:hover {
	background-color: #212a3a;
}
.find-text:focus {
	background-color: #fff;
}
.book:hover, .cart:hover {
	background-color: #212a3a;
}
.book:hover .bookmark-pic, .cart:hover .cart-pic {
	fill: #fff;
}
.book:active, .cart:active {
	background-color: #161d29;
	color: #8b8e94;
}
.book:active .bookmark-pic, .cart:active .cart-pic {
	fill: #8b8e94;
}
.order:hover {
	background-color: #5fbb2d;
}
.order:active {
	background-color: #518534;
	color: #8b8e94;
}
.enter:hover, .reg:hover {
	color: #ee3643;
}
.enter:hover .enter-pic {
	fill: #32425c;
}
.enter:active, .reg:active {
	color: #c5c5c5;
}
.enter:active .enter-pic {
	fill: #c5c5c5;
}
.main-menu a:hover {
	background-color: #293449;
}
.main-menu a:active {
	background-color: #1d2739;
	color: #8b8e94;
}
.color-nav {
	background-color: #293449;
	min-width: 960px;
}
.down-menu {
	min-width: 960px;
}
.links {
	min-width: 960px;
}
.glass-icon {
	fill: #6a7180;
}
.glass-icon:hover {
	fill: #fff;
}
.glass-icon:active {
	fill: #6a7180;
}
.menu-pages a:hover {
	text-decoration: underline;
}
.menu-pages a:active {
	opacity: 0.5;
}
.menu-pages-mat a:hover {
	text-decoration: underline;
}
.menu-pages-mat a:active {
	opacity: 0.5;
}
.about-us:hover {
	background-color: #ca2c37;
}
.about-us:active {
	background-color: #ba2732;
}
.write-to-us:hover {
	background-color: #ca2c37;
}
.write-to-us:active {
	background-color: #ba2732;
}
.sn-pic {
	fill: #fff;
}
.ic-background:hover {
	background-color: #ee3643;
}
.ic-background:active {
	background-color: #ee3643;
}
.tab-links a:hover {
	text-decoration: underline;
}
.tab-links a:active {
	text-decoration: none;
	color: #ee3643;
}
.cart-pic-cat {
	width: 17px;
	height: 17px;
	margin-right: 15px;
	top: 3px;
	fill: #fff;
	opacity: 0.5;
}
.cart-pic-cat:hover {
	opacity: 1;
}
.cart-pic-cat:active {
	opacity: 0.5;
}
.logout-icon {
	fill: #c5c5c5;
	vertical-align: middle;
}
.logout-icon:hover {
	fill: #32425c;
}
.logout-icon:active {
	fill: #c5c5c5;
}
.orders-cab a:hover {
	color: #ee3643;
}
.orders-cab a:active {
	color: #b7bfc8;
}
.cart-pic-cat-gr {
	width: 17px;
	height: 17px;
	margin-left: 10px;
	margin-right: 22px;
	top: 3px;
	fill: #fff;
	opacity: 0.5;
}
.cart-pic-cat-gr:hover {
	opacity: 1;
}
.buy:hover {
	background-color: #5fbb2d;
}
.buy:active {
	background-color: #518534;
}
.bookmarks:hover {
	border-color: #32425c;
}
.bookmarks:active {
	color: #c1c6ce;
	border-color: #c1c6ce;
}
.circle input[type="checkbox"] + .checkbox-indicator {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 23px;
	height: 23px;
	border: 2px solid #c5c5c5;
	border-radius: 3px;
}
.circle input[type="checkbox"]:hover + .checkbox-indicator {
	border-color: #b5b5b5;
}
.circle {
	position: relative;
	padding-left: 40px;
	cursor: pointer;
	font-size: 15px;
	display: flex;
	line-height: 28px;
}
.form-pad li {
	height: 30px;
	margin-bottom: 17px;
}
.radio-bat {
	position: relative;
	padding-left: 40px;
	cursor: pointer;
	font-size: 15px;
	padding-top: 7px;
}
.radio-bat input[type="radio"] + .radio-indicator {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 23px;
	height: 23px;
	border: 5px solid #c5c5c5;
	border-radius: 50%;
}
.radio-bat input[type="radio"]:hover + .radio-indicator {
	border-color: #b5b5b5;
}
.show {
	margin-top: 58px;
	background-color: #fff;
	border: 1px solid #c5c5c5;
}
.prof-but:hover .profile-icon, .prof-but:hover .logout-icon {
	fill: #32425c;
}
.profile:active .profile-icon {
	fill: #c5c5c5;
}
.profile:active {
	color: #c5c5c5;
}
.prof-logout:active .logout-icon {
	fill: #c5c5c5;
}
.ic-background:first-child {
	margin-right: 2px;
}
.ic-background:last-child {
	margin-left: 2px;
}
.ic-background:nth-child(2) {
	margin-right: 3px;
	margin-left: 3px;
}
.item-flex:hover .perf-log {
	display: none;
}
.item-flex:hover .buy-bookmarks {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.item-flex:hover {
	box-shadow: 0px 5px 35px -10px;
}
.buy-bookmarks {
	display: none;
}
.buy:hover .cart-pic-cat-gr {
	opacity: 1;
}
.buy-bookmarks {
	height: 170px;
}
.orange {
	width: 300px;
	height: 123px;
	background-color: #ffbf47;
	background-image: url("../img/icon-1.svg");
	background-repeat: no-repeat;
	background-position: 213px 31px;
	color: #fff;
	font-size: 24px;
	font-family: Cuprum;
	font-weight: bold;
	box-sizing: border-box;
	padding-left: 23px;
}
.blue {
	width: 300px;
	height: 123px;
	background-color: #3bbce3;
	background-image: url("../img/icon-2.svg");
	background-repeat: no-repeat;
	background-position: 197px 33px;
	color: #fff;
	font-size: 24px;
	font-family: Cuprum;
	font-weight: bold;
	box-sizing: border-box;
	padding-top: 27px;
	padding-left: 23px;
}
.velvet {
	width: 300px;
	height: 123px;
	background-color: #dc91d8;
	background-image: url("../img/icon-3.svg");
	background-repeat: no-repeat;
	background-position: 191px 31px;
	color: #fff;
	font-size: 24px;
	font-family: Cuprum;
	font-weight: bold;
	box-sizing: border-box;
	padding-top: 27px;
	padding-left: 23px;
}
.green {
	width: 300px;
	height: 123px;
	background-color: #8ed78f;
	background-image: url("../img/icon-4.svg");
	background-repeat: no-repeat;
	background-position: 196px 26px;
	color: #fff;
	font-size: 24px;
	font-family: Cuprum;
	font-weight: bold;
	box-sizing: border-box;
	padding-top: 27px;
	padding-left: 23px;
}
.orange-deliv {
	width: 300px;
	height: 123px;
	background-color: #ffbf47;
	background-image: url("../img/icon-5.svg");
	background-repeat: no-repeat;
	background-position: 191px 32px;
	color: #fff;
	font-size: 24px;
	font-family: Cuprum;
	font-weight: bold;
	box-sizing: border-box;
	padding-top: 27px;
	padding-left: 23px;
}
.big-slider {
	width: 620px;
	height: 266px;
	background-color: dimgray;
	color: #fff;
	box-sizing: border-box;
}
.big-slider h3 {
	font-family: Cuprum;
	font-weight: bold;
	font-size: 36px;
	text-transform: uppercase;
	margin: 0px;
}
.big-slider p {
	font-family: Cuprum;
	font-weight: normal;
	font-size: 18px;
	margin-top: 7px;
}
.high-visual {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 59px;
}
.low-visual {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	margin-top: 20px;
}
.green-orange {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.visual-link {
	color: #fff;
	font-family: Cuprum;
	font-weight: normal;
	font-size: 14px;
	text-transform: uppercase;
	background-color: rgba(178, 178, 178, 0.50);
	display: block;
	width: 135px;
	height: 38px;
	box-sizing: border-box;
	text-align: center;
	padding-top: 11px;
	margin-top: 14px;
	border-radius: 3px;
}
.visual-link:hover {
	background-color: rgba(178, 178, 178, 0.75);
}
.visual-link:active {
	background-color: rgba(178, 178, 178, 1);
}
.flag-main {
	position: absolute;
	margin-left: 217px;
}
.new-cont {
	padding-top: 27px;
}
.popular-header {
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	justify-content: space-between;
	align-items: baseline;
	background-color: #f9f5f0;
	padding: 25px 25px 25px 30px;
	margin-top: 53px;
}
.popular-header h3 {
	font-family: Cuprum;
	font-weight: normal;
	font-size: 30px;
	color: #32425c;
	margin: 0px;
}
.popular-header a {
	background-color: #ee3643;
	color: #fff;
	width: 253px;
	height: 38px;
	box-sizing: border-box;
	text-align: center;
	padding-top: 10px;
	border-radius: 3px;
}
.popular-header a:hover {
	background-color: #ca2c37;
}
.popular-header a:active {
	background-color: #ba2732;
}
.items-main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-left: 0px;
	justify-content: space-between;
	margin-bottom: 0px;
}
.items-main li {
	border: 1px solid #e5e5e5;
	margin-bottom: 20px;
}
.low {
	margin-top: 0px;
}
.brands {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 20px;
	margin-bottom: 65px;
}
.brands-link {
	display: flex;
	flex-direction: row;
	width: 220px;
	height: 145px;
	justify-content: center;
	align-items: center;
	border: 1px solid #e5e5e5;
	margin-bottom: 20px;
}
.brands-link:hover {
	box-shadow: 0px 5px 35px -10px #000000;
}
.brands-link:active {
	box-shadow: 0px 5px 25px -10px #000000;
}
.brands-link:active img {
	opacity: 0.5;
}

.big-slider-slides {
	width: 200%;
}

.big-slider-slides img {
	float: left;
}
.big-slider-inner {
	overflow: hidden;
}
.big-slider-controls label {
  display: inline-block;
  margin: 0 3px;
  width: 7px;
  height: 7px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid white;
}
.big-slider input[type="radio"] {
  display: none;
}
#btn-1:checked ~ .big-slider-controls label[for="btn-1"],
#btn-2:checked ~ .big-slider-controls label[for="btn-2"] {
  background-color: #ee3643;
}
#btn-1:checked ~ .big-slider-inner .big-slider-slides {
  transform: translate(0);
}

#btn-2:checked ~ .big-slider-inner .big-slider-slides {
  transform: translate(-620px);
}
#btn-3:checked ~ .big-slider-inner .big-slider-slides {
  transform: translate(0);
}

#btn-4:checked ~ .big-slider-inner .big-slider-slides {
  transform: translate(-620px);
}
.big-slider-controls {
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: absolute;
	z-index: 1;
	margin-left: 293px;
	margin-top: 220px;
}
.big-slider a {
	background-color: #ee3643;
	color: #fff;
	width: 195px;
	height: 38px;
	box-sizing: border-box;
	text-align: center;
	padding-top: 10px;
	border-radius: 3px;
	display: inline-block;
	margin-top: -62px;
	margin-left: 26px;
	position: absolute;
	text-transform: uppercase;
}

.big-slider a:hover {
	background-color: #ca2c37;
}
.big-slider a:active {
	background-color: #ba2732;
}
.slider-rows label {
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: transparent;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
}
.slider-rows {
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: absolute;
	z-index: 1;
	margin-top: 120px;
	margin-left: 25px;
}
.left {
	margin-right: 505px;
	transform: rotate(135deg);
}
.right {
    transform: rotate(-45deg);
}
.blue-title span {
	position: absolute;
	margin-top: 27px;
	margin-left: 24px;
}
.yellow-title span {
	position: absolute;
	left: 24px;
	top: 27px;
}
.services {
	background-color: #f2f6f8;
	min-width: 960px;
}
.main-services {
	
}
.about-services {
	display: flex;
	flex-direction: column;
	width: 410px;
	padding-top: 68px;
	margin-bottom: 78px;
}
.about-services h3 {
	margin: 0px;
	font-size: 30px;
	text-transform: uppercase;
	font-family: "Cuprum";
}
.about-services p {
	font-family: "PT Sans";
	font-size: 13px;
	line-height: 24px;
	margin-top: 20px;
	margin-bottom: 0px;
}
.deliv-descrip {
	width: 375px;
}
.deliv-descrip h3 {
	font-family: "Cuprum";
	font-size: 36px;
	text-transform: uppercase;
	color: #32425c;
	margin: 0px;
}
.deliv-descrip p {
	font-family: "PT Sans";
	font-size: 13px;
	color: #000000;
	margin-top: 20px;
}
.deliv-slide {
	display: flex;
	flex-direction: row-reverse;
	width: 630px;
	margin-left: 310px;
	float: left;
}
.guarantee-descrip {
	width: 375px;
}
.guarantee-descrip h3 {
	font-family: "Cuprum";
	font-size: 36px;
	text-transform: uppercase;
	color: #32425c;
	margin: 0px;
}
.guarantee-descrip p {
	font-family: "PT Sans";
	font-size: 13px;
	color: #000000;
	margin-top: 20px;
}
.guarantee-slide {
	display: flex;
	flex-direction: row-reverse;
	width: 630px;
	margin-left: 0px;
	float: left;
}
.credit-descrip {
	width: 375px;
}
.credit-descrip h3 {
	font-family: "Cuprum";
	font-size: 36px;
	text-transform: uppercase;
	color: #32425c;
	margin: 0px;
}
.credit-descrip p {
	font-family: "PT Sans";
	font-size: 13px;
	color: #000000;
	margin-top: 20px;
}
.credit-slide {
	display: flex;
	flex-direction: row-reverse;
	width: 630px;
	margin-left: 0px;
	float: left;
}
.deliv-slide img {
    margin-left: -110px;
}
.guarantee-slide img {
	margin-left: -210px;
}
.credit-slide img {
	margin-left: -120px;
}
.send-request {
	background-color: #ee3643;
	width: 195px;
	height: 38px;
	color: #fff;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
	position: absolute;
	margin-top: 15px
}
.send-request:hover {
	background-color: #ca2c37;
}
.send-request:active {
	background-color: #ba2732;
}
.services-slides {
	width: 300%;
}
.services-inner {
	overflow: hidden;
}
.services-slider input[type="radio"] {
  display: none;
}

#dlv-button:checked ~ .services-slider-controls label[for="dlv-button"],
#grt-button:checked ~ .services-slider-controls label[for="grt-button"],
#crd-button:checked ~ .services-slider-controls label[for="crd-button"] {
  background-color: #fff;
}

#dlv-button:checked ~ .services-inner .services-slides {
  transform: translate(0);
}

#grt-button:checked ~ .services-inner .services-slides {
  transform: translate(-630px);
}

#crd-button:checked ~ .services-inner .services-slides {
  transform: translate(-1260px);
}



















