body {
	font-family: "Cuprum", "PT Sans", "Arial", sans-serif;
	background-color: #fff;
	margin: 0px;
	padding: 0px;
	width: 1200px;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
.upper-menu, .links {
	background-color: #293449;
}
.main-info {
	background-color: #f2f6f8;
	display: flex;
	flex-direction: column;
}
.main-menu, .down-menu {
	background-color: #32425c;
}
.upper-menu a, .main-menu a, .down-menu a {
	color: white;
}
.down-menu p, .links p, .tab-article {
	color: white;
}
.upper-logo, .down-logo {
	display: inline-block;
	background: #ee3643;
	box-shadow: 0px 4px 0px 0px #b72f38;
	padding: auto;
}
.upper-logo {
	width: 220px;
	height: 46px;
	margin-left: 130px;
	box-sizing: border-box;
	padding-top: 13px;
	text-align: center;
}
.upper-technomart {
	width: 110px;
	height: 20px;
}
.down-logo {
	width: 220px;
	height: 66px;
	box-sizing: border-box;
	text-align: center;
	padding-top: 21px;
}
.down-technomart {
	width: 138px;
	height: 24px;
}
.menu-pages-mat a, .tab-links a {
	color: #ffd996;
}
.main-action {
	font-size: 17px;
	font-family: "Cuprum", "Arial";
	line-height: 18px;
}
.main-describe {
	font-family: "Cuprum", "Arial";
	font-style: italic;
	font-size: 16px;
	line-height: 23px;
	color: #ee3643;
	display: flex;
	flex-direction: column;
	width: 208px;
	height: 64px;
	align-self: center;
	justify-content: center;
}
.tel {
	font-family: "Cuprum", "Arial";
	font-size: 21px;
	line-height: 21px;
	color: #ee3643;
	display: inline-block;
	border: 3px solid #ffffff;
	padding: 10px 40px 10px 10px;
	width: 214px;
}
.main-info p {
	font-size: 14px;
	font-family: "Cuprum", "Arial";
	color: #32425c;
	line-height: 24px;
}
.enter, .reg {
	font-family: "Cuprum", "Arial";
	font-size: 21px;
	line-height: 21px;
	color: black;
}
.reg {
	display: flex;
	flex-direction: row;
	background-color: #fff;
	width: 150px;
	height: 45px;
	align-items: center;
	justify-content: center;
}
.enter {
	background-color: #fff;
	border: none;
	height: 45px;
	width: 126px;
	margin-right: 10px;
}
.main-menu a {
	font-family: "Cuprum", "Arial";
	font-size: 17px;
	line-height: 17px;
}
.orders-cab a {
	font-family: "Cuprum", "Arial";
	font-size: 16px;
	line-height: 18px;
	color: #32425c;
	text-decoration: underline;
}
.navigation a {
	font-family: "PT Sans", "Arial";
	font-size: 13px;
	line-height: 18px;
	color: #000;
}
.add-info h3 {
	font-family: "Cuprum", "Arial";
	font-size: 30px;
	color: #000;
	line-height: 0;
	text-transform: uppercase;
}
.name {
	font-family: "Cuprum", "Arial";
	font-size: 18px;
	color: #000;
	line-height: 2;
}
.about-us {
	background-color: #ee3643;
	width: 220px;
	height: 29px;
	color: #fff;
	text-align: center;
	padding-top: 9px;
	border-radius: 3px;
}
.write-to-us {
	background-color: #ee3643;
	width: 300px;
	height: 29px;
	color: #fff;
	margin-top: 40px;
	text-align: center;
	padding-top: 9px;
	border-radius: 3px;
}
.down-menu p {
	font-family: "Cuprum", "Arial";
	font-size: 18px;
}
.menu-pages, .menu-pages-mat {
	font-family: "Cuprum", "Arial";
	font-size: 18px;
}
.links p, .tab-article, .tab-links {
	font-family: "Cuprum", "Arial";
	font-size: 16px;
	line-height: 18px;
}
.visually-hidden {
	display: none;
}
.sub-menu h3 {
	font-family: "Cuprum", "Arial";
	font-size: 30px;
	line-height: 30px;
}
.sub-menu h4 {
	font-family: "PT Sans", "Arial";
	font-size: 17px;
	line-height: 30px;
	font-weight: bold;
}
.sub-menu ul li {
	font-family: "PT Sans", "Arial";
	font-size: 15px;
	line-height: 20px;
	font-weight: normal;
}
.sub-menu button {
	font-family: "PT Sans", "Arial";
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
}
.product-name {
	font-family: "PT Sans", "Arial";
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
}
.old-value, .new-value, .main-value {
	font-family: "PT Sans", "Arial";
	font-size: 17px;
	line-height: 18px;
	font-weight: bold;
}
.old-value {
	text-decoration: line-through;
	color: #999999;
}
.buy, .bookmarks {
	font-family: "Cuprum", "Arial";
	font-size: 14px;
	line-height: 18px;
}
.upper-menu {
	display: flex;
	flex-direction: row;
	align-items: baseline;
}
.search {
	padding-left: 16px;
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 44px;
	justify-content: center;
	align-self: center;
}
.find-text {
	margin-left: 16px;
	height: 42px;
	background-color: #293449;
	border: none;
	width: 200px;
}
.find-text::-webkit-input-placeholder {
	color: #fff;
}
.glass {
	width: 18px;
	height: 18px;
}
.zakladka {
	width: 17px;
	height: 17px;
	margin-right: 15px;
}
.korzina {
	width: 17px;
	height: 17px;
	margin-right: 15px;
	top: 3px;
}
.order {
	width: 148px;
	background-color: #63a63e;
	height: 46px;
	margin-right: 130px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	align-self: center;
}
.book {
	width: 160px;
	height: 46px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	align-self: center;
}
.korz {
	width: 160px;
	height: 46px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	align-self: center;
}
.call-adress {
	flex-direction: column;
	display: flex;
	align-items: center;
	height: 75px;
	margin-left: 70px;
	align-self: flex-start;
	margin-right: 106px;
}
.main-menu {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 60px;
	margin-top: 30px;
	box-shadow: 0px 4px 0px 0px #293449;
}
.main-menu a {
	height: 58px;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: inherit;
	justify-content: center;
}
.right-fl {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: baseline;
	margin-top: 46px;
	margin-right: auto;
	margin-left: auto;
	width: 940px;
}
.telefon {
	margin-right: 38px;
}
.voiti {
	margin-right: 15px;
}
.call-adress p {
	margin-top: 6px;
	margin-bottom: 20px;
}
.tehn-flex {
	display: flex;
	flex-direction: column;
}
.cont-flex {
	display: flex;
	flex-direction: column;
}
.down-flex p {
	margin-left: 130px;
	margin-top: 30px;
	width: 350px;
	line-height: 25px;
}
.links {
	width: 1200px;
	display: flex;
	flex-direction: row;
}
.tab-article {
	display: flex;
	flex-direction: row;
	width: 290px;
	justify-content: space-between;
}
.tab-links {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	top: 33px;
}
.ic-flx {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 114px;
	align-items: center;
	height: 108px;
}
.main-width {
	width: 1200px;
	margin: 0 auto;
}
.add-info {
	display: flex;
	flex-direction: row;
	margin-left: 130px;
	margin-right: 130px;
	justify-content: space-between;
	padding-bottom: 86px;
	padding-top: 60px;
}
.tech-upper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 940px;
	margin-left: 130px;
	margin-right: 130px;
}
.menu-pages {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 720px;
	margin-left: 0px;
	align-items: center;
	padding-top: 15px;
}
.menu-pages-mat {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: flex-start;
	padding-top: 18px;
	width: 565px;
}
.tech-down {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 130px;
	margin-right: 130px;
	margin-top: 10px;
}
.down-adress {
	display: flex;
	flex-direction: row;
}
.down-info {
	display: flex;
	flex-direction: row;
	margin-left: 130px;
	width: 940px;
	justify-content: space-between;
	align-items: center;
}
.sign {
	height: 108px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.flx-table {
	height: 108px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.ic-background {
	display: flex;
	background-color: #212a3a;
	width: 40px;
	height: 40px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	box-sizing: border-box;
	padding-top: 5px;
}
.delivery {
	padding-left: 0px;
}

.korz-cat {
	width: 160px;
	height: 46px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	align-self: center;
	background-color: #ee3643;
}
.user-info {
	display: flex;
	flex-direction: column;
}
.orders-cab {
	display: flex;
	flex-direction: row;
	margin-left: 16px;
	margin-top: 10px;
	justify-content: space-between;
	margin-right: 72px;
}
.profile {
	display: flex;
	flex-direction: row;
	background-color: #fff;
	width: 270px;
	height: 45px;
	align-items: center;
	justify-content: center;
	color: black;
	font-family: "Cuprum", "Arial";
	font-size: 21px;
	line-height: 21px;
}
.call-adress-cat {
	flex-direction: column;
	display: flex;
	align-items: center;
	height: 75px;
	margin-left: 70px;
	align-self: flex-start;
	margin-right: 90px;
}
.prof-ic {
	margin-right: 14px;
}
.prof-logout {
	background-color: #fff;
	height: 45px;
	width: 30px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.prof-but {
	display: flex;
	flex-direction: row;
}
.dot {
	background-color: #32425c;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	margin-top: 6px;
}
.navigation {
	display: flex;
	flex-direction: row;
	width: 940px;
	margin-left: 130px;
	justify-content: flex-start;
	align-items: center;
}
.navigation a {
	display: flex;
	flex-direction: row;
	margin-right: 16px;
	height: 60px;
	align-items: center;
	text-transform: uppercase;
}
.navigation img {
	margin-right: 16px;
	height: 12px;
}
.call-adress-cat p {
	margin-top: 6px;
}
.perf {
	display: flex;
	flex-direction: row;
	width: 940px;
	margin-left: 130px;
	margin-right: 130px;
	background-color: #f2f6f8;
	text-transform: uppercase;
	color: #32425c;
	font-size: 30px;
	box-sizing: border-box;
	padding-left: 32px;
}
.goods-flex-cat {
	display: flex;
	flex-direction: row;
	margin-left: 130px;
	margin-right: 130px;
}
.make-a-choise {
	display: flex;
	flex-direction: column;
	width: 220px;
	text-transform: uppercase;
}
.make-a-choise ul {
	padding-left: 0px;
	margin-top: 0px;
}
.make-a-choise h4 {
	margin-bottom: 22px;
}
.list-of-goods {
	margin-left: 20px;
	width: 700px;
}
.items {
	display: flex;
	flex-direction: row;
	width: 700px;
	flex-wrap: wrap;
	padding-left: 0px;
	justify-content: space-between;
}
.items li {
	border: 1px solid #e5e5e5;
	margin-bottom: 20px;
}
.dash {
	width: 24px;
	height: 3px;
	background-color: #ee3643;
	margin-right: 10px;
}
.dash-flex {
	display: flex;
	flex-direction: row;
	align-items: center; 
}
.menu-pages a {
	margin-left: 70px;
}
.checkbox-cast {
	width: 23px;
	height: 23px;
	margin-right: 8px;
	margin-bottom: 12px;
}
.radio-cast {
	width: 23px;
	height: 23px;
	margin-right: 8px;
	margin-bottom: 12px;
}
.descrip-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 160px;
}
.item-flex {
	display: flex;
	flex-direction: column;
	width: 220px;
}
.new-value {
	width: 141px;
	height: 38px;
	background-image: url("../img/btn copy 14.svg");
	box-sizing: border-box;
	padding-top: 8px;
	color: #fff;
}
.new-value {
	display: flex;
	justify-content: center;
	margin-top: 0px;
}
.old-value {
	display: flex;
	justify-content: center;
	margin-top: 0px;
}
.product-name {
	display: flex;
	justify-content: center;
	margin-top: 0px;
}
.buy {
	display: flex;
	flex-direction: row;
	width: 135px;
	height: 33px;
	justify-content: flex-start;
	align-items: center;
	margin-top: 43px;
	margin-bottom: 8px;
	border-bottom: 2px solid #367315;
}
.bookmarks {
	display: flex;
	flex-direction: row;
	width: 131px;
	height: 31px;
	justify-content: center;
	align-items: center;
	border: 2px solid #63a63e;
	color: #32425c;
	margin-bottom: 50px
}
.buy {
	background-color: #63a63e;
	color: #fff;
}
.cart-cat {
	margin-right: 20px;
	margin-left: 15px;
}
.new-value-rows {
	width: 141px;
	height: 38px;
	background-image: url("../img/btn copy 14.svg");
	box-sizing: border-box;
	padding-top: 8px;
	color: #fff;
	display: flex;
	justify-content: center;
	margin-top: 33px;
	font-family: "PT Sans", "Arial";
	font-size: 17px;
	line-height: 18px;
	font-weight: bold;
}
.flag {
	position: absolute;
	margin-left: 161px;
}
.show {
	width: 147px;
	height: 38px;
	text-transform: uppercase;
}
.add-info-text {
	font-family: "PT Sans", "Arial";
	font-size: 13px;
	color: #000;
	line-height: 1.5;
	display: flex;
	flex-direction: row;
	width: 517px;
}
.add-info-text-deliv {
	font-family: "PT Sans", "Arial";
	font-size: 13px;
	color: #000;
	line-height: 1.5;
	display: flex;
	flex-direction: row;
	width: 390px;
}
.add-info-text-map {
	font-family: "PT Sans", "Arial";
	font-size: 13px;
	color: #000;
	line-height: 1.5;
	display: flex;
	flex-direction: row;
	width: 185px;
}
